@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p> Trabalho desenvolvido por Jonatã Serdan Marino e Sarah S. Brizolari para conclusão do 8º Semestre do bacharel de sistemas de Informação</a>.</p>
</div>
