@model ProjAPIP2.Models.Funcionario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Funcionário: </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeFuncionario" class="control-label"></label>
                <input asp-for="NomeFuncionario" class="form-control" />
                <span asp-validation-for="NomeFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario" class="control-label"></label>
                <input asp-for="EnderecoFuncionario" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneFuncionario" class="control-label"></label>
                <input asp-for="TelefoneFuncionario" class="form-control" />
                <span asp-validation-for="TelefoneFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailFuncionário" class="control-label"></label>
                <input asp-for="EmailFuncionário" class="form-control" />
                <span asp-validation-for="EmailFuncionário" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificacao" class="control-label"></label>
                <input asp-for="Identificacao" class="form-control" />
                <span asp-validation-for="Identificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
